{% extends "base.html" %}

{% block navbar %}
<div class="collapse navbar-collapse" id="navbarSupportedContent">
	<ul class="navbar-nav mr-auto">
		<li class="nav-item active">
			<a class="nav-link" href="itinerarij">Lokacije <span class="sr-only">(current)</span></a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="itinerarij">Itinerariji </a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#">Predlagaj lokacijo </a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#">Prijava </a>
		</li>
	</ul>
	
	<form class="form-inline my-2 my-lg-0">
		<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
		<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Poišči </button>
	</form>
</div>
{% endblock %}

{% block extraheader %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.2.1/css/ol.css" type="text/css">
    <style>
      .map {
        height: 100%;
        width: 100%;
		min-height: 700px;
      }
    </style>
    <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.2.1/build/ol.js"></script>
{% endblock %}

{% block body %}
<h2>Filtriraj</h2>
 <div class="row">
	<div class="col-sm">
		<form>
			<div class="row">
				<div class="col">
					<div class="form-group">
						<label for="exampleInputEmail1">Email address</label>
						<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
						<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
					</div>
				</div>
				<div class="col">
					<div class="form-group">
						<label for="exampleInputPassword1">Password</label>
						<input type="password" class="form-control" id="exampleInputPassword1">
					</div>
				</div>
			</div>			
		
		<div class="form-group form-check">
			<input type="checkbox" class="form-check-input" id="exampleCheck1">
			<label class="form-check-label" for="exampleCheck1">Check me out</label>
		</div>
		<button type="submit" class="btn btn-primary">Submit</button>

		</form>

	</div>
	<div class="col-sm">
		<div id="map" class="map"></div>
    		<script type="text/javascript">
      		var map = new ol.Map({
        		target: 'map',
        		layers: [
          		new ol.layer.Tile({
            		source: new ol.source.OSM()
          		})
        		],
        		view: new ol.View({
          		center: ol.proj.fromLonLat([15.0182222,46.124048]),
          		zoom: 7.8
        		})
      		});
    		</script>
	</div>
</div>
{% endblock %}
